/* start.css */
/* Сброс стилей */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Playfair Display', serif;
  }
  
  /* Псевдоэлемент для фонового изображения */
  .start-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("autPage.jpg");
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
    filter: blur(5px);
  }
  
  /* Контейнер для даты и времени */
  .start-date-time {
    position: absolute;
    top: 30px;
    right: 20px;
    background-color: rgba(212, 40, 221, 0.3);
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Группа кнопок */
  .start-button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow buttons to wrap to next line if needed */
    margin-top: 60px;
    gap: 20px;
  }
  
  /* Кнопки */
  .start-button-group button {
    background-color: rgba(146, 41, 158, 0.9);
    color: white;
    padding: 0; /* Removed padding, handled by flexbox */
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center; /* Vertically center text */
    justify-content: center; /* Horizontally center text */
    font-size: 24px;
    margin: 10px;
    width: 250px;
    min-height: 80px; /* Ensures consistent height */
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
    z-index: 1;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  /* Эффект при наведении на кнопку */
  .start-button-group button:hover {
    background-color: rgba(146, 41, 158, 0.9);
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  
  /* Текст при наведении */
  .start-button-group button::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 10;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  /* Появление текста при наведении */
  .start-button-group button:hover::after {
    opacity: 1;
  }
  
  /* Заголовок */
  .start-container .h1 {
    text-align: center;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin-bottom: 30px;
  }
  
  
  
  @keyframes rgb-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  /* Remove underline from links inside buttons */
  .start-button-group button a {
    text-decoration: none;
  }
  
  